Zbiór danych w z Zadania 3. zawiera także brakujące wartości. 
* Brakujące wartości oznaczone są w pliku jako `?`. Sprawdź w dokumentacji `read_csv()`, jaki parametr należy ustawić, aby wczytać je jako wartości `NA`. Uwaga: aby poprawnie wczytać plik należy podać parametr (`skipinitialspace=True`).
* Znajdż wiersze z największą liczbą brakujących wartości i usuń je. Wskazówka: brakujące wartości w wierszach można zliczyć `df.isna().sum(axis=1)`. Przyda się też metoda `value_counts()`.
* Sprawdź, które kolumny zawierają mniej niż 3% brakujących wartości. W tych kolumnach zastąp brakujące wartości najczęściej występującą wartością. Korzystaj z metod `fillna()`, `mode()`. Wskazówka: użyj `mode()[0]` aby otrzymać pojedynczą wartość.
* Usuń pozostałe kolumny zawierające brakujące wartości.

In [48]:
import pandas as pd

In [49]:
df = pd.read_csv("../data/censusData-with3errors.csv", na_values='?', skipinitialspace=True)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [51]:
# Fixes from exercise 3
df.loc[df['age'] > 120, 'age'] = pd.NA
df.loc[df['age'] < 18, 'age'] = pd.NA
df.loc[df['native-country'] == 'Unimed-States', 'native-country'] = pd.NA

In [52]:
# How many rows have missing values?
na_count = df.isna().sum(axis=1)
na_distribution = na_count.value_counts().sort_index()
print(na_distribution)

0    29831
1      891
2     1748
3       91
Name: count, dtype: int64

In [53]:
# Remove rows with 3 or more missing values
df_clean = df[na_count < 3]

In [54]:
na_count = df_clean.isna().sum(axis=1)
na_distribution = na_count.value_counts().sort_index()
print(na_distribution)

0    29831
1      891
2     1748
Name: count, dtype: int64

In [55]:
# Check which columns have less then 3% of missing values and more then 0%, and display them
missing_counts = df_clean.isna().sum()
missing_percent = missing_counts / len(df_clean) * 100

missing_percent = missing_percent[missing_percent < 3]
missing_percent = missing_percent[missing_percent > 0]
print(missing_percent)

age               1.025562
native-country    1.715430
dtype: float64

In [59]:
columns = ['age', 'native-country']

for column in columns:
    mode_value = df_clean[column].mode()[0]
    df_clean.loc[df_clean[column].isna(), column] = mode_value

In [60]:
# Delete the rest of the columns with missing values
df_clean = df_clean.dropna(axis=1, how='any')
# Check the final dataset
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32470 entries, 0 to 32560
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32470 non-null  float64
 1   fnlwgt          32470 non-null  int64
 2   education       32470 non-null  object
 3   education-num   32470 non-null  int64
 4   marital-status  32470 non-null  object
 5   relationship    32470 non-null  object
 6   race            32470 non-null  object
 7   sex             32470 non-null  object
 8   capital-gain    32470 non-null  int64
 9   capital-loss    32470 non-null  int64
 10  hours-per-week  32470 non-null  int64
 11  native-country  32470 non-null  object
 12  income          32470 non-null  object
dtypes: float64(1), int64(5), object(7)
memory usage: 3.5+ MB